<!DOCTYPE html>
<html>
<head>
    <title>My EJS Page</title>
</head>
<body>
    <h1>Welcome to my EJS page!</h1>
    <h1> <%= pageTitle %> </h1>
    <h1>Parsed JSON Data</h1>
    <pre><%= JSON.stringify(parsedObject, null, 2) %></pre>
</body>
</html>
